vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Jul 2014 16:35:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|GALO\\Gilbert
vti_modifiedby:SR|GALO\\Gilbert
vti_timecreated:TR|10 Jul 2014 15:36:10 -0000
vti_backlinkinfo:VX|Progap_FINALS/register.html Progap_FINALS/userindex.html Progap_FINALS/company.html Progap_FINALS/index.html Progap_FINALS/usercompany.html
vti_nexttolasttimemodified:TW|18 Jul 2014 16:32:03 -0000
vti_cacheddtm:TX|18 Jul 2014 16:35:39 -0000
vti_filesize:IR|87026
vti_cachedlinkinfo:VX|S|/fonts/glyphicons-halflings-regular.eot S|/fonts/glyphicons-halflings-regular.eot S|/fonts/glyphicons-halflings-regular.woff S|/fonts/glyphicons-halflings-regular.ttf S|/fonts/glyphicons-halflings-regular.svg
vti_cachedsvcrellinks:VX|NSUS|/fonts/glyphicons-halflings-regular.eot NSUS|/fonts/glyphicons-halflings-regular.eot NSUS|/fonts/glyphicons-halflings-regular.woff NSUS|/fonts/glyphicons-halflings-regular.ttf NSUS|/fonts/glyphicons-halflings-regular.svg
